<h3 align="center">List of Employee</h3>
<div id="tab">
    //<div ngapp="">
<table id="list" width="50%" align="center" border="1" cellspacing="0">
<tr>
<td >Firstname:<td>
<td >lastname:<td>
<td >Email:<td>
<td >ContactNo:<td>
<td >Address:<td>
<td >username:<td>
<td >Password:<td>
<td >Gender:<td>
<td >Qualification:<td>
<td >Experience:<td>
<td >Coding Language:<td>
</tr>
<tr>
//<td >{{firstname}}<td>
<td ><td>
<td ><td>
<td ><td>
<td ><td>
<td ><td>
<td ><td>
<td ><td>
<td ><td>
<td ><td>
<td ><td>
</tr>
</table>
</div>
//</div>